.meta{
    background-image: -webkit-repeating-linear-gradient(360deg, #BA3C77, #743DC5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}
.Menu{
    font-family: sans-serif;
}
.nav, .meta{
    align-items: flex-end;
}
.icons{
    align-items: center;
}